
  <div class="container">
    <div class="row bg-secondary p-3">
      <div class="col-10">
          <app-fast-add (beerSubmit)="beerSubmit($event)" class="w-100"></app-fast-add>
        </div>
      <div class="col-2">
      </div>
    </div>
    <div class="row border">
      <div class="col-12">
        <div class="row bg-dark text-white p-3">
            <div class="col-3 text-center">
              ID
            </div>
            <div class="col-3 text-center">
              Beer
            </div>
            <div class="col-2 text-center">
              Price
            </div>
            <div class="col-4 text-center">
              Actions
            </div>
        </div>
        <div *ngFor="let beer of beers | keyvalue" class="row border-top py-2">
            <div class="col-3 border-right">
                {{ beer.key }}
            </div>
            <div class="col-3 border-right">
                {{ beer.value.name }}
            </div>
            <div class="col-2 border-right">
                {{ beer.value.price }} €
            </div>
            <div class="col-4">
                <button class="btn btn-info btn-xs mr-4" [routerLink]="['/detail', beer.key]"> More</button>
                <button class="btn btn-warning btn-xs mr-4" [routerLink]="['/edit', beer.key]"> Edit</button>
              <button class="btn btn-danger btn-xs" (click)="deleteBeer(beer.key)"> Delete</button>
            </div>
          </div>
          <div class="col-12 text-center" *ngIf="beers?.length < 1 "> Pas de bieres </div>
      </div>
    </div>
  </div>
