<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>{{ beer?.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      Degree : {{ beer?.degree }}°<br/>
      Date : {{ beer?.date | date:'short'}}<br/>
      <p class="font-weight-bold price">{{ beer?.price }} €</p>

      <a class="btn btn-info w-50" [routerLink]="['/list']" routerLinkActive="router-link-active" >Retour aux bieres</a>
    </div>
    <div class="col-6">
      <img src="{{ beer?.image }}" alt="{{ beer?.name }}">
    </div>
  </div>
</div>